.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 10px;
    background-color: #8e6d28;
    gap: 30px;
    padding-bottom: 10px;
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  
  .scroll-item {
    flex: 0 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .scroll-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  